.advanced-calculator {
    width: 350px;
    height: 750px flex;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    background: #222;
    color: white;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(111, 21, 21, 0.845);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #647e9a;
  }
  
  .clear-button {
    grid-column: span 2;
    background-color: #dc3545;
  }
  
  .clear-button:hover {
    background-color: #a71d2a;
  }
  
  .backspace-button {
    grid-column: span 2;
    background-color: #767676;
  }
  
  .backspace-button:hover {
    background-color: #3b3b3b;
  }
  .eval-button {
    grid-column: span 2;
    background-color: #1843ef;
  }
  
  .eval-button:hover {
    background-color: #4c96af;
  }
  